<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1990},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1990},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,602},{195,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,270}}</string>
                <key>sourceSize</key>
                <string>{195,270}</string>
            </dict>
            <key>angrybird.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{790,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{790,138}}</string>
                <key>sourceSize</key>
                <string>{800,142}</string>
            </dict>
            <key>backarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,509},{91,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,81}}</string>
                <key>sourceSize</key>
                <string>{91,81}</string>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{1024,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,640}}</string>
                <key>sourceSize</key>
                <string>{1024,640}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,417},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>bj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1028},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1028},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>loading@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1028},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{316,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,210}}</string>
                <key>sourceSize</key>
                <string>{316,210}</string>
            </dict>
            <key>startbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>ufo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1372,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1372,413}}</string>
                <key>sourceSize</key>
                <string>{1372,413}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mySprite.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cbb80371b37ef4b284775710d64c1f1:00720f2f74673b762a073de1b641609b:f58298387224f479877531b84c156f6e$</string>
            <key>textureFileName</key>
            <string>mySprite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
